{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Slider task
{% endblock %}


{% block global_styles %}

<style>
div.row{
    margin-left: 30px;
}

</style>

{% endblock %}

{% block content %}


        <div class = "row" id = 1> {% formfield player.slider1 %} &emsp; {% formfield player.slider2 %} &emsp; {% formfield player.slider3 %} </div>

        <div class = "row" id = 2> {% formfield player.slider4 %} &emsp; {% formfield player.slider5 %} &emsp; {% formfield player.slider6 %} </div>

        <div class = "row" id = 3> {% formfield player.slider7 %} &emsp; {% formfield player.slider8 %} &emsp; {% formfield player.slider9 %} </div>

    <div class = "row" id = 4> {% formfield player.slider10 %} &emsp; {% formfield player.slider11 %} &emsp; {% formfield player.slider12 %} </div>

    <div class = "row" id = 5> {% formfield player.slider13 %} &emsp; {% formfield player.slider14 %} &emsp; {% formfield player.slider15 %} </div>

    <div class = "row" id = 6> {% formfield player.slider16 %} &emsp; {% formfield player.slider17 %} &emsp; {% formfield player.slider18 %} </div>

    <div class = "row" id = 7> {% formfield player.slider19 %} &emsp; {% formfield player.slider20 %} &emsp; {% formfield player.slider21 %} </div>


{% endblock %}

{% block scripts %}
<script>
window.onload = function randomMargin(){
    var randomnumber1=Math.floor(Math.random()*101) - 50;
    var randomnumber2=Math.floor(Math.random()*101) - 50;
    var randomnumber3=Math.floor(Math.random()*101) - 50;
    var randomnumber4=Math.floor(Math.random()*101) - 50;
    var randomnumber5=Math.floor(Math.random()*101) - 50;
    var randomnumber6=Math.floor(Math.random()*101) - 50;
    var randomnumber7=Math.floor(Math.random()*101) - 50;

    console.log(randomnumber1)
    console.log(randomnumber2)
    console.log(randomnumber3)
    console.log(randomnumber4)
    console.log(randomnumber5)
    console.log(randomnumber6)
    console.log(randomnumber7)

    $('#1').css({"margin-left": randomnumber1+"px"});
    $('#2').css({"margin-left": randomnumber2+"px"});
    $('#3').css({"margin-left": randomnumber3+"px"});
    $('#4').css({"margin-left": randomnumber4+"px"});
    $('#5').css({"margin-left": randomnumber6+"px"});
    $('#6').css({"margin-left": randomnumber6+"px"});
    $('#7').css({"margin-left": randomnumber7+"px"});

}

setInterval(randomMargin, 1000);
</script>

{% endblock %}