{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Phase III: A new tentative coalition has been formed!
{% endblock %}

{% block styles %}
    <style>
        p.wv {
            margin: 0px !important;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        {% if group.new_tentative_coalition_formed %}
            <strong>The alternative offer was chosen. The previous tentative coalition was not formed. Hence, a new tentative coalition has been formed. This coalition is highlighted.</strong>
        {% else %}
            <strong class="text-danger">The maximum number of rounds has been reached.</strong><br>
            <strong class="text-danger">You have not been able to form a coalition.</strong>
        {% endif %}
    </p>

    <p>
        Below you can see which offers have been selected.
    </p>

    <table class="table table-hover">
            <thead>
                <th>Old tentative of new tentative coalition</th>
                <th>Proposed Coalition</th>
            {% if not earned %}
                <th>Share party A (received {{ resources_player_A }} seats)
                {% if player.position == 'A' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>
            <th>Share party B (received {{ resources_player_B }} seats)
                {% if player.position == 'B' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>
            </th>
            <th>Share party C (received {{ resources_player_C }} seats)
                {% if player.position == 'C' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>
            {% elif earned %}
            <th>Share party A (earned {{ resources_player_A }} seats)
                {% if player.position == 'A' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>
            <th>Share party B (earned {{ resources_player_B }} seats)
                {% if player.position == 'B' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>
            </th>
            <th>Share party C (earned {{ resources_player_C }} seats)
                {% if player.position == 'C' %}
                    <strong class="text-info">This is you</strong>
                {% endif %}</th>

            {% endif %}
                <th>Proposed By</th>
                <th>Selected By</th>
            </thead>
            <tbody>
                {% for oldnew,name,all_A,all_B,all_C,prop_A,prop_B,prop_C,sel_A,sel_B,sel_C in offers_dictionary %}
                <tr class="{% if name == group.tentative_formed_coalition_name and all_A == group.tentative_payoff_A and all_B == group.tentative_payoff_B and all_C == group.tentative_payoff_C %}alert alert-success{% endif %}">
                    <td>{{ oldnew }}</td>
                    <td>{{name}}-coalition</td>
                    <td>{% if all_A > 0 %}$ {{all_A|floatformat:"0"}} million
                            {% endif %}</td>
                    <td>{% if all_B > 0 %}$ {{all_B|floatformat:"0"}} million
                            {% endif %}</td>
                    <td>{% if all_C > 0 %}$ {{all_C|floatformat:"0"}} million
                            {% endif %}</td>
                    <td>
                        {% if prop_A == 1 %}
                            Party A
                            {% if player.position == "A" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if prop_B == 1 %}
                            Party B
                            {% if player.position == "B" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if prop_C == 1 %}
                            Party C
                            {% if player.position == "C" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                    </td>
                    <td>
                        {% if sel_A == 1 %}
                            Party A
                            {% if player.position == "A" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if sel_B == 1 %}
                            Party B
                            {% if player.position == "B" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if sel_C == 1 %}
                            Party C
                            {% if player.position == "C" %}
                                <strong class="text-info">(This is you)</strong>
                            {% endif %}
                            <br>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% if group.coalition_ratified_A == 'no coalition' %}
        <li>Party A did not select a coalition offer.</li>
    {% endif %}
    {% if group.coalition_ratified_B == 'no coalition' %}
        <li>Party B did not select a coalition offer.</li>
    {% endif %}
    {% if group.coalition_ratified_C == 'no coalition' %}
        <li>Party C did not select a coalition offer.</li>
    {% endif %}

    {% if prev_ratified_A == 'no coalition' %}
        <li>Party A did not select a coalition offer.</li>
    {% endif %}
    {% if prev_ratified_B == 'no coalition' %}
        <li>Party B did not select a coalition offer.</li>
    {% endif %}
    {% if prev_ratified_C == 'no coalition' %}
        <li>Party C did not select a coalition offer.</li>
    {% endif %}

     {% if group.tentative_formed_coalition_name == "ABC" %}

    <p>
        As all parties are in the tentative ABC-coalition, there will be no counteroffer made. Go to the next page to choose whether or not to ratify the ABC-coalition.
    </p>

    {% else %}

    <p>
        Party {{ group.not_in_tentative }} will now have the opportunity to form a counter offer
    </p>


    {% if player.position == group.not_in_tentative %}

        <p>
            Please go to the next page to make a counter offer
        </p>

    {% else %}


        <p>
            Please go to the next page to await Party {{ group.not_in_tentative }}'s counter offer.
        </p>

    {% endif %}

    {% endif %}




    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            {% next_button %}
        </div>
    </div>
{% endblock %}
